absl-py==0.2.0
astor==0.6.2
attrs==18.2.0
backcall==0.1.0
bleach==1.5.0
certifi==2018.4.16
chainer==4.0.0
chardet==3.0.4
cliff==2.14.0
cmd2==0.9.10
cntk-gpu==2.5.1
colorama==0.4.1
colorlog==4.0.2
cupy==4.0.0
cycler==0.10.0
Cython==0.28.2
decorator==4.3.0
dm-sonnet==1.20
entrypoints==0.2.3
fastrlock==0.3
filelock==3.0.4
future==0.16.0
gast==0.2.0
graphviz==0.8.3
grpcio==1.11.0
gym==0.12.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
ipykernel==4.8.2
ipympl==0.2.1
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.1.6
kiwisolver==1.0.1
Lasagne==0.2.dev1
leveldb==0.194
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mxnet-cu90==1.1.0.post0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nodejs==0.1.1
nose==1.3.7
notebook==5.4.1
npm==0.1.1
numpy==1.14.3
optional-django==0.1.0
optuna==0.8.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.2.0
pbr==5.1.2
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
PuLP==1.6.9
pycurl==7.43.0
pyglet==1.3.2
Pygments==2.2.0
pygobject==3.20.0
pygpu==0.7.5+15.gf036aef
pyparsing==2.2.0
pyperclip==1.7.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.7.2
python-gflags==3.1.2
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.18
ssh-import-id==5.5
stevedore==1.30.0
tensorboard==1.8.0
tensorflow-gpu==1.15.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.1
torch==0.4.0
torchvision==0.2.1
tornado==5.0.2
traitlets==4.3.2
typing==3.6.6
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
